.btn-primary {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    background-color: white;
    border-color: black;
    padding: 0.7em 1em;
    border-radius: .3em;

    &:hover {
        background: $rojo;
        color: white;
        border-color: $rojo;
    }
}

