article img {
    margin-bottom: 0.5rem;
}

.main__articles {
    .contenedor {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    article {
        text-align: center;
        width: 30%;
        padding: 2rem 0;
    }

    img {
        border-radius: 2.50%;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.03);
        }
    }
}


@media screen and (max-width:768px) {
    .main__articles .contenedor{
        flex-direction: column;
    }
    .main__articles article {
        width: 100%;
        margin-bottom: 2rem;
    }
}